// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

body {
    padding: 5px;
    max-width: 100%;
}

#sredinska {
    margin: 10px;
}

#izbrane_postaje, #izbrano_omrezje {
    text-align: center;
}

#seznam_postaj{
    width: 10%;
}

#seznam_povezav {
    // min-width: 30%;
    max-width: 30%;
}

.flex-container {
    display: flex;
    justify-content: start;
    align-items: flex-start;
}