// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

body {
    padding: 5px;
    max-width: 100%;
}

#sredinska1 {
    padding: 0px;
}
#sredinska2 {
    padding: 0px;
}
#sredinska3 {
    padding: 0px;
}
#sredinska4 {
    padding: 0px;
}

#izbrane_postaje, #izbrano_omrezje {
    text-align: center;
}

#seznam_postaj{
    width: 10%;
}

#seznam_povezav {
    // min-width: 30%;
    max-width: 30%;
}

.flex-container {
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

.container1 {
    
    position: relative;
    display: inline-block;
}
  
.container1 canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.container2 {
    
    position: relative;
    display: inline-block;
}
  
.container2 canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.container3 {
    
    position: relative;
    display: inline-block;
}
  
.container3 canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.container4 {
    
    position: relative;
    display: inline-block;
}
  
.container4 canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.canvas_slika {
    width: 75%;
}

.container_statistika {
    margin: 10px;
    columns: 1;
}
  